*{
    margin:0px;
    padding: 0px;
}
header{
    background-color:black;
    text-align: center;
    color:white;
    padding-bottom:10px;
}
header h1{
    margin-bottom:20px;
}
h3 a{
    color: white;
}


h3{
    display: inline-block;
    border: 2px solid black;
    word-spacing: 5rem;
    text-transform: uppercase;

}
main{
    text-align: center;
    font-family: Georgia, serif;
    margin: 50px auto;
    font-size: 20px;

}
.stat{
    position: relative;
    bottom: 380px;
    right: 120px;
}
.accueil{
    position: relative;    
    width: 500px;
    right: 200px;
}
.description.right{
    font-size: 20px;
    width: 15em;
    display: inline-block;
    position: relative;
    bottom: 450px;
    left:200px;
    text-align: left;

}
.description.top{
    width: 700px;
    margin:20px auto;
}
#h2B{
    margin: 20px;
}
.description.bottom{
    width: 700px;
    margin:20px auto;
}


.introP{
    font-size: 20px;
    line-height:30px;
}
table{
    border:2px solid black;
    border-collapse: collapse;
    width: auto;
    margin: 30px auto;
    font-size: 20px;

}
td,th{
    border:1px solid black;
}

#title1{
    position:relative;
    left: 230px;
    }
#title2{
     position:relative;
    left: 200px;
    
}



.tarif{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 450px;
}
.avis{
    margin-top: 100px;
    font-family: cursive;
}
textarea{
    font-family: cursive;
}
img[src*='amazon-avatars']{
    position: relative;
    bottom: 170px;
}

#Comment5{
    margin-bottom: 75px;
    position: relative;
    left: 41px;
}
.send textarea{
    margin-bottom: 70px;
}
#imgS{
    display: inline-block;
    position:relative;
    width: 75px;
    bottom: 60px;
}
.pseudo{
    display: inline;
    position:relative;
    bottom: 180px;
}



form{
    font-size: 20px;
}
.formtable{
    border:hidden;
    text-align: left;
}
.formtable th{
    border:hidden;
}
.formtable td{
    border:hidden;
}
#submit{
    text-align: center;
}

input,label{
    margin: 20px auto;
}

footer{
    text-align: center;
    padding-top: 20px;
    background-color: hsl(120, 100%, 0%);
    color: white;
    line-height: 30px;

}
.social{
    display: inline-block;
    padding-top:10px;
}
